<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Agregar Inmueble</title>
    <link rel="stylesheet" href="/css/styleAgregarInmueble.css">
</head>
<body>
<div class="container">
    <h1>Agregar Inmueble</h1>
    <form id="agregar-inmueble-form" action="/propietario/agregarInmueble" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="ciudad">Ciudad:</label>
            <input type="text" id="ciudad" name="ciudad" required>
        </div>
        <div class="form-group">
            <label for="barrio">Barrio:</label>
            <input type="text" id="barrio" name="barrio" required>
        </div>
        <div class="form-group">
            <label for="avaluo">Avaluo:</label>
            <input type="number" id="avaluo" name="avaluo" required>
        </div>
        <div class="form-group">
            <label for="direccion">Dirección:</label>
            <input type="text" id="direccion" name="direccion" required>
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" name="descripcion" rows="4" required></textarea>
        </div>
        <div class="form-group">
            <label for="fotoHabitacion">Foto Habitación:</label>
            <input type="file" id="fotoHabitacion" name="fotoHabitacion" accept="image/*" required>
        </div>
        <div class="form-group">
            <label for="fotoBano">Foto Baño:</label>
            <input type="file" id="fotoBano" name="fotoBano" accept="image/*" required>
        </div>
        <div class="form-group">
            <label for="fotoFrente">Foto Frente:</label>
            <input type="file" id="fotoFrente" name="fotoFrente" accept="image/*" required>
        </div>
        <div class="form-group">
            <label for="fotoInterior">Foto Interior:</label>
            <input type="file" id="fotoInterior" name="fotoInterior" accept="image/*" required>
        </div>
        <div class="form-group">
            <label for="fotoCocina">Foto Cocina:</label>
            <input type="file" id="fotoCocina" name="fotoCocina" accept="image/*" required>
        </div>
        <div class="button-group">
            <button type="submit">Guardar Inmueble</button>
            <button class="back-btn" type="button" onclick="location.href='/propietario'">Volver</button>
        </div>
    </form>
</div>
</body>
</html>
