<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de Clientes</title>
</head>
<body>
<h1>Lista de Clientes</h1>
<table border="1">
    <thead>
    <tr>

        <th>Nombre</th>
        <th>Apellido</th>
        <th>Correo</th>
        <th>Contrasena</th>
        <th>Celular</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cliente : ${clientes}">
        <td th:text="${cliente.nombre}"></td>
        <td th:text="${cliente.apellido}"></td>
        <td th:text="${cliente.correo}"></td>
        <td th:text="${cliente.contrasena}"></td>
        <td th:text="${cliente.celular}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>