<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Foto</title>
</head>
<body>
<h1>Crear Cliente</h1>
<form action="/clientes/nuevos" method="post">
    <label for="habitacion">Habitacion:</label><br>
    <input type="text" id="habitacion" name="habitacion" required><br>
    <label for="baño">Baño:</label><br>
    <input type="text" id="baño" name="baño" required><br>
    <label for="frente">Frente:</label><br>
    <input type="text" id="frente" name="frente" required><br>
    <label for="interior">Interior:</label><br>
    <input type="text" id="interior" name="interior" required><br>
    <label for="cocina">Cocina:</label><br>
    <input type="text" id="cocina" name="cocina" required><br>
    <button type="submit">Crear</button>
</form>
</body>
</html>